In [108]:
import pandas as pd

returns = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv",
                     header=0, index_col=0, parse_dates=True,
                     na_values=-99.99)

In [109]:
returns.index = pd.to_datetime(returns.index, format="%Y%m")
returns.index = returns.index.to_period("M")

In [110]:
returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
1926-08,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
1926-09,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
1926-10,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
1926-11,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [120]:
n_months= returns.shape[0]
annualized_vol = returns["Hi 20"].std() * np.sqrt(12)
annualized_return = (returns["Hi 20"]+1).prod()**(12/n_months) -1
annualized_vol, annualized_return

(0.19511604155631315, 0.09849020951253151)

In [90]:

annualized_vol = returns["Hi 20"].std()*np.sqrt(12)
n_months = returns.shape[0]
annualized_return = (returns["Hi 20"]+1).prod()**(12/n_months) -1
annualized_vol, annualized_return

(0.19511604155631315, 0.09849020951253151)

In [33]:
annualized_vol
annualized_return

<= 0        0.000000
Lo 30            NaN
Med 40    455.820493
Hi 30      -1.000000
Lo 20            NaN
Qnt 2     652.604890
Qnt 3            NaN
Qnt 4            NaN
Hi 20     149.329068
Lo 10            NaN
Dec 2            NaN
Dec 3     620.553855
Dec 4     573.874842
Dec 5     666.871450
Dec 6            NaN
Dec 7      -1.000000
Dec 8     301.297934
Dec 9     210.069892
Hi 10     152.655120
dtype: float64

In [123]:
sample = returns["1999":"2015"][["Lo 20", "Hi 20"]]
sample

          Lo 20   Hi 20
1999-01  0.1114  0.0153
1999-02 -0.0399 -0.0172
1999-03 -0.0308  0.0368
1999-04  0.0824  0.0679
1999-05  0.0435 -0.0048
...         ...     ...
2015-08 -0.0347 -0.0559
2015-09 -0.0610 -0.0333
2015-10  0.0385  0.0710
2015-11  0.0165  0.0015
2015-12 -0.0500 -0.0229

[204 rows x 2 columns]

In [125]:
annualized_vol = sample.std()*np.sqrt(12)
n_months = sample.shape[0]
return_per_month = (sample+1).prod()**(1/n_months)-1
annualized_return = (return_per_month+1)**12 -1
annualized_vol, annualized_return

(Lo 20    0.228894
 Hi 20    0.172713
 dtype: float64,
 Lo 20    0.114426
 Hi 20    0.062865
 dtype: float64)

In [50]:
import edhec_risk_kit as erk

In [128]:
erk.drawdown(sample["Lo 20"]).min()

Wealth      1034.189842
Peaks       1111.400000
Drawdown      -0.624809
dtype: float64

In [57]:
hfi = erk.get_hfi_returns()

In [96]:
sample3 = hfi["2009":]
sample3.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

In [106]:
erk.semideviation(hfi).idxmin()

'Global Macro'

In [104]:
erk.skewness(sample3).idxmin()

'Equity Market Neutral'

In [105]:
erk.kurtosis(hfi["2000":]).idxmax()

'Fixed Income Arbitrage'